 .col-md-2{
    text-align:left ;
    width: 150px !important;
    height: 150%;
    background-color: #424242;
    padding: 0 !important;

}
#navigation { width:150px; margin-top: 110px;  margin-left: 0px !important;}
#navigation ul { margin:0; padding:0; }
#navigation li { list-style: none; }

#icon{
    width: 25px;
    height: 25px;
}

ul.top-level li {

}
#navigation a {
    color: #fff;
    cursor: pointer;
    display:block;
    height:50px;
    line-height: 50px;
    text-decoration:none;
    width:100%;
    padding-left: 10px;
}

#navigation a:hover{
    text-decoration: none;
}
#navigation li:hover {
    background: #f90;
    position: relative;
}
