#content{
    text-align: center;
    margin: 0 auto;
    max-width: 200px;
    width: 80%;
    border: 2px solid #B0B0B0 ;
    border-radius: 3px;
    box-shadow: 10px 10px 10px #A8A8A8;
    background:#FFFFFF;
}
body{
    text-align: center;
    margin-top: 100px;
    background:#FFFFFF;
}

.form-control{
    text-align: center;
}
.form-group{
    text-align: center;
}
.table-responsive{
    width: 20%;
    display:inline-block;
}
.file{
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
}
a.btn.btn-default{
    float: left;
    clear: left;
}