table {
    table-layout:fixed;
    text-align: center;
}
td{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#buttons{
    margin-top: 20px;
    float: right;
    clear: both;
    height:40px;
    width: 130px ;
    line-height: 40px;
    text-decoration:none;
    color: #fff;
    background-color: #3299bb;
}
#buttons:hover{
    background: #f90;
    position: relative;
}
table.dataTable.no-footer{
    border-bottom:0px !important;
}
.ui-widget-header{
    background: #BCBCBC;
}
.col-md-9{
    margin-left: 20px;
    width:1050px !important;

}