table {
    table-layout:fixed;
    text-align: center;
}
td{
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#invite{
    float: right;
    clear: both;
    padding: 0px;
}

table.dataTable.no-footer{
    border-bottom:0px !important;
}