.col-md-8{
    margin-left: 10px;
}
#tusers {
    width: 70%;
}
.submit{
    display: none;

}
table{
    margin-left: 15%;
}
 .btn-default{
    height:35px;
    width: 90px ;
    line-height: 35px;
    text-decoration:none;
    color: #fff !important;
    background: #3299bb !important;
}
.btn-default:hover{
    background: #f90 !important;
    position: relative !important;
}