#content{
	text-align: center;
	margin: 0 auto;
	max-width: 400px;
	width: 80%;
	border: 2px solid #A8A8A8;
	background: #FFFFFF;
	border-radius: 3px;
	box-shadow: 10px 10px 10px #A8A8A8;
}
#Gplus {
	text-align: center;
	margin: 0 auto;
	max-width: 150px;
	width: 80%;
	padding-top: 4px;
	padding-bottom: 4px;
	
}
#Gplus_picture{
    margin: 0 auto;
	max-width: 20px;
	width: 80%;
	padding-top: 4px;
	padding-bottom: 4px;
	
}
#forms{line-height:200%;}
.input{
	position: relative;
	padding: 9px;
	max-width: 200px;
	margin: 0;
	width: 80%;
	border: 2px solid #A8A8A8;
	background: #FFFFFF;
	font-size: 16px;
	clear:left;
}
#get_started{
	position: relative;
	padding: 9px;
	max-width: 120px;
	width: 80%;
	border: 2px solid #A8A8A8;
	background: #61C4E4;
	border-radius: 3px;
    background: linear-gradient(#6bdcff, #50a2bc);
}
#CANCEL{
	position: relative;
	padding: 9px;
	max-width: 120px;
	width: 80%;
	border: 2px solid #A8A8A8;
	background: #61C4E4;
	border-radius: 3px;
    background: linear-gradient(#6bdcff, #50a2bc);
}
a {
	text-decoration: none;
    color: #42869b;
}
h2{
    color: #346b7b;
}

p{
    color: #2a5663;
}










