#sign_in_form{

    padding: 100px;

}
form{

    margin-top: 70px;
}
#buton{
    margine: 30px;
}
#sign_in{

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;

}
#Gplus_picture{
    max-width: 180px;
    height: 50px;
    width: 100%;
    margin-left: 68px;
}

.input{
    position: relative;
    padding: 9px;
    max-width: 200px;
    margin: 0;
    height: 20px;
    width: 80%;
    border: 2px solid #A8A8A8;
    background: #FFFFFF;
    font-size: 16px;
    clear:left;
}
#get_started{
    color:white;
    position: relative;
    padding: 9px;
    max-width: 110px;
    width: 70%;
    background: #605e5e;
    margin-left: 70px;
}
#CANCEL{
    position: relative;
    padding: 9px;
    max-width: 110px;
    width: 70%;
    background:#605e5e;
    color: white;

}
a {
    text-decoration: none;
    color: #42869b;
}
p{
    color: #1c566a;
    margin-top: 0;

}
#forgot{

    margin-left: 70px;
}





