<!DOCTYPE html>
<html>
<head>
	<title> GPS pracenje vozila </title>
	<link rel="stylesheet" type="text/css" href="../../css/Main.css">
	<link rel="stylesheet" type="text/css" href="../../css/form_forgot_password.css">
	<meta charset= "utf-8">
	<meta name= "viewport" content= "width= device-width, initial-scale=1.0">
</head>

<body>
		
	<div id = "container">
		<header>
			<figure>
				<img src="../../images/heading.png" alt="GPS">
			</figure>
		</header>
					
		<div id="content"><br><br>
		<h2>Forgot your password?</h2>
			<div id="forgot_your_password">
				<p id="text">Please enter the e mail address registered on your account.</p>
            <br><br><br>
				<div id="forms">
				<input class="input" type="text" id="email" name="E-mail" placeholder= "E-mail">
				<p><input type="submit" id="reset_password"  value="Reset password"> 
				<a href="Sign_In.php"><input id="back" type="button" value="Back to Sign In"></a>
                   <br><br><br><br>
				<span id="error"></span>
				</div> <!-- forms -->
            </div><!-- forgot_your_password --> <br><br>
		</div> <!-- content --><br><br>
	</div> <!-- container -->


    <script src="../../lib/jquery-1.11.1.min.js"></script>
    <script src="../../js/form_forgot_password.js"></script>
</body>


</html>