<!DOCTYPE html>
<html>
<head>
	<title> GPS pracenje vozila </title>
	<link rel="stylesheet" type="text/css" href="../../css/invite.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<meta charset= "utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
			
	<div id = "container">
		<div class ="col-md-8">
		<h3> Invite employ </h3> <br>
			<form class="form-inline" role="form" id="myForm" method="post" target="_parent">
			  <input type="text" name="Name" value="" class="form-control" id="exampleInputFname" placeholder="Enter first name">
			  <input type="text" name="Name" value="" class="form-control" id="exampleInputLname" placeholder="Enter last name">
			  <input type="text" name="Name" value="" class="form-control" id="exampleInputEmail" placeholder="Enter email">
			  <input id="add" type="button" class="btn btn-default" value="  ADD  " name="submit">
			 	<br><br> 
					<table id="details" class="table">
						
					</table> 
					<input id="submit" type="button" class="submit" value="  SUBMIT  " name="submit">
					<br>
			 </form>
			 
			
		</div>
	</div> <!-- container -->


    <script src="../../lib/jquery-1.11.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" charset="utf8" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" charset="utf8" src="../../js/invite.js"></script>

</body>
</html>